<div class="flex  ">
  <button
  class="inline-flex md:ml-2 justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 "
  *ngIf="isInPlaylist(id).isIn === true " (click)="removeFromPlaylist()">Remove From {{isInPlaylist(id).playlistName}}</button>

  <div class="relative inline-block text-left" *ngIf="isInPlaylist(id).isIn === false ">
    <div>
      <button type="button"
        class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 dropdown-open"
        id="menu-button" [attr.aria-expanded]="isMenuOpen" (click)="toggleMenu()">
        Add to Playlist
        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
    {{ isMenuOpen ? 'block' : 'hidden' }}">
      <div class="py-1">
        <!-- Create menu items for each playlist -->
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" (click)="addToPlaylist(1, $event)">Playlist 1</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" (click)="addToPlaylist(2, $event)">Playlist 2</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" (click)="addToPlaylist(3, $event)">Playlist 3</a>
      </div>
    </div>
  </div>
  <button
    class="inline-flex md:ml-2 justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 "
    *ngIf="videos[id-1].isFavorite == false" (click)="handleFavorites(true)">Add to Favorites</button>
  <button
    class="inline-flex md:ml-2 justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 "
    *ngIf="videos[id-1].isFavorite == true" (click)="handleFavorites(false)">Remove from Favorites</button>
</div>
